<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Spring Session | WebSocket</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" th:src="@{/webjars/html5shiv/html5shiv.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js" th:src="@{/webjars/respond/respond.min.js}"></script>
	<![endif]-->
</head>
<body>
	<div class="container">
		<h3>WebSocket</h3>
		<div>
			<form class="form-inline" id="message-form">
				<div class="form-group">
					<input type="text" class="form-control" name="message" placeholder="Type a message..."/>
				</div>
				<button type="submit" class="btn btn-default">Send</button>
			</form>
		</div>
		<table class="table">
			<caption>Replies</caption>
			<thead>
				<tr>
					<th style="width: 25%">Reply</th>
					<th style="width: 25%">Session id</th>
					<th style="width: 25%">Creation time</th>
					<th style="width: 25%">Last accessed time</th>
				</tr>
			</thead>
			<tbody id="replies"></tbody>
		</table>
		<div id="error" class="alert alert-danger hidden" role="alert"></div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js" th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
	<script>
		var socket = new SockJS('/messages');
		var input = $('input:first');

		stompClient = Stomp.over(socket);
		stompClient.connect({}, function() {
			stompClient.subscribe('/topic/echo', function(message) {
				var echo = JSON.parse(message.body);
				$('#replies').prepend('<tr><td>' + echo.message + '</td><td>' + echo.sessionId +
					'</td><td>' + echo.sessionCreationTime + '</td><td>' +
					echo.sessionLastAccessedTime + '</td></tr>');
			});
			stompClient.subscribe('/topic/errors', function(message) {
				var alert = $('#error');
				alert.text(message.body);
				alert.removeClass('hidden');
				alert.fadeTo(2000, 500).slideUp(500, function() {
					alert.slideUp(500);
				});
			});
		});

		input.focus();

		$('#message-form').submit(function(event) {
			stompClient.send('/app/messages', {}, input.val());
			input.val('');
			event.preventDefault();
		});
	</script>
</body>
</html>
